* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --poke-height: 700px;
  --poke-width: 1000px;
  --poke-border-radius: 25px;
}

#root {
  height: 100vh;
  font-family: 'ABeeZee', sans-serif;
}

h1 {
  margin: 5%;
}
h3 {
  margin: 2%;
}
p {
  margin: 2%;
}


.pokedex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgba(54,53,75,1) 0%, rgba(68,68,132,1) 98%);
}

.felicia {
  position: relative;
  height: var(--poke-height);
  width: var(--poke-width);
  background-color: rgb(238, 121, 121);
  border-radius: var(--poke-border-radius);
  transform-style: preserve-3d;
}

.nav-bar {
  transform: translateZ(-10px);
  position: absolute;
  top: -6%;
  left: 2.5%;
  height: 8%;
  width: 80%;
  display: flex;
  gap: 1%;
}

.tab {
  background-color: rgb(131, 198, 225);
  border: 2px solid black;
  border-radius: 10px;
  width: 20%;
  height: 100%;
  text-decoration: none;
  color: black;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
}

.tab:hover {
  transform: translateY(-5px);
}

.tab > * {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
}

.pokedex {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-rows: 1fr;
  grid-template-columns: .4fr 1fr;
}

/* .pokedex::before {
  background: radial-gradient(
    500px circle at 100px 100px,
    rgba(167, 32, 32, 0.8),
    transparent 40%
  );
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  z-index: 2;
} */

.sidebar {
  background-color: white;
  margin: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  animation: 1.2s ease 0s 1 slideInFromLeft;
}

.pokemon-list {
  overflow-y: auto;
  overflow-x: hidden;
  width: 95%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.background-padding {
  height: 60px;
  width: 100%;
  background-color: white;
  transition: all 0.5s;
}

.background-padding:hover {
  background-color: rgb(207, 240, 251);
}

.sidebar-item {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: left;
  cursor: pointer;
  transition: all 0.3s;
}

.sidebar-item:hover {
  transform: translateX(6px);
}

.selected-pokemon {
  background-color: rgb(154, 229, 253);
}

.selected-pokemon > .sidebar-item > .poke-image-container {
  animation-name: pokemon-jumping;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes pokemon-jumping {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-8px);}
  100% {transform: translateY(0px);}
}

.poke-image-container {
  height: 100%;
}

.poke-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pokemon-entry {
  margin: 20px 20px 20px 0px;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 0.6fr 1fr;
  grid-gap: 2px;
  animation: 1.2s ease 0s 1 slideInFromRight;
}

.pokemon-entry > * {
  background-color: rgb(255, 255, 255);
}

.large-poke-image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 100%;
}

.poke-info {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.poke-description {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.poke-stats > * {
  margin: 0 0 0 5%;
}

.type-container {
  display: flex;
  flex-direction: column;
  margin: -3% 0% 5% 5%;
  /* align-items: center;
  justify-content: center; */
  gap: 5px;
}

.type-list {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  gap: 10px;
}

.type-list > * {
  text-align: center;
  width: 80px;
}

.abilities-container {
  border-top: 4px solid grey;
  border-bottom: 4px solid grey;
  margin: 0 5% 0 5%;
  text-align: center;
  height: 80px;
}

.ability-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.stat-container {
  display: flex;
  align-items: center;
  gap: 5%;
}

.stat-text {
  margin: 0 0 0 2%;
}

.searchbar {
  margin: 4px;
}

.evolution-container {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 5px;

}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-110%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0);
  }
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #bdbbbe;
  border-radius: 8px;
  border: 3px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
