body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --poke-height: 700px;
  --poke-width: 1000px;
}

#root {
  height: 100vh;
}

.pokedex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokedex {
  background-color: rgb(238, 121, 121);
  height: var(--poke-height);
  width: var(--poke-width);
  border-radius: 25px;
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr;
  grid-template-columns: .4fr 1fr;
}

.sidebar {
  background-color: white;
  margin: 20px 0px 20px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar-item {
  border: 2px solid grey;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: left;
  cursor: pointer;
}

.poke-image-container {
  height: 100%;
}

.poke-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pokemon-entry {
  background-color: white;
  margin: 20px 20px 20px 0px;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 0.6fr 1fr;
}

.pokemon-entry > * {
  border: 1px solid red;
}

.large-poke-image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 100%;
}

.poke-info {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.poke-description {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}